div h1 {
    text-align: center;
    text-decoration: underline;
    color: rgb(187, 22, 22);
}

.logo {
    height: 400px;
    width: 400px;
    position: absolute;
    background-color:rgb(255, 1, 43);
    
}
.pic {
    height: 200px;
    width: 200px;
    background-image: url(logo.png);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 50%;
    padding-right: 50%;
    opacity: 0.6;
}